body {
	background-color:#172633;
	color:White;
	text-align:center;
}

#TopActions{
	background-color:#FF0000;

	top:0%;
	left:0%;
	margin-bottom:20px;
	padding-top:10px;
	padding-bottom:10px;
	display:block;
	border:1px solid white;
	border-radius:25px;
	background-color:#335A69;
	width:100%;
	text-align:center;
}


#CenterActions  {
	
	width:95%;
}

#LeftActions {

	width:80px;
}

#LeftActions2 {

	width:80px;
}

#RightActions {

	width:80px;
}

#Status{
	position:fixed;
	display:block;
	right:10px;
	top:20px;
	color:#46E317;
	float:right;
}

#AdvancedProperties
{

	height:1.5em;
	overflow:hidden;
}


.buttonWindow{
	height:auto;
	display:inline-block;
	border:1px solid white;
	border-radius: 25px;
	overflow:hidden;
	background-color:#335A69;
	padding:0px 0px 5px 0px;
	margin: 5px 5px 5px 5px;
}


.property{
	margin-top:10px;
	text-align:center;
	display:block;
	padding:5px;
	border:1px solid white;
	height:auto;
	
}

.off{
	background-color:red;
}

.off:hover{
	background-color:white;
}


.property:hover{
	background-color:#5799B2;
}

.off:hover{
	background-color:white;
	color:red;
}

.property:active{
	background-color:#FFD716;
}


.title{
	border-bottom:1px solid #335A69;
	text-align:center;
	display:block;
	padding-bottom:10px;
	margin:0px;
	color:#335A69;
	background-color:white;
}



#Alerts {
	position:fixed;
	top:0%;
	left:20%;
	z-index:100;
	background-color:#FFED8C;
	color:black;
	width:200px;
	height:200px;
	text-align:center;
	display:none;
}

#help{
	position:fixed;
	left:0%;
	width:150px;
	height:150px;
	bottom:0px;
	font-size:36pt;
	margin:0px;
	border:1px;
	border-radius:25px;
	overflow:hidden;
	padding:0px;
}
