<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>FCC Systems Controller</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="static/javascript.js"></script>
    <style>
        .btn-primary {
        color: #fff;
        background-color: #FF0000;
        border-color: #2e6da4;
        }
        .btn-primary.active {
            color: #FFF;
            background-color: #00FF00;
            border-color: #204d74;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li class="active" ><a data-toggle="pill" href="#presets">System Presets</a></li>
                    <li ><a data-toggle="pill" href="#components">Component Controls</a></li>
                    <li ><a data-toggle="pill" href="#settings">Settings</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">FCC Systems Controller</h3>
        </div>
 
        <div class="tab-content">
            <div id="presets" class="tab-pane fade in active">
               {% include "Presets.html" %}
            </div>
            
            {% include "ConfirmShutdown.html" %}
            
            
            <div id="components" class="tab-pane fade">
                <h3>Component Controls</h3>
                {% for ControlObject in ControlObjects %}
                    {% include "ControlObject.html" %}
                {% endfor %}
            </div>
            <div id="settings" class="tab-pane fade">
                <h3>Settings</h3>
             
            </div>
            
        </div>
        
        <hr>
        
        <div>
        <h4>Recording Controls</h4>
                <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary active">
                        <input type="radio" name="Projector" id="option1" autocomplete="off" checked> Recording Stopped
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="Projector" id="option2" autocomplete="off"> Recording Started
                      </label>
                </div> 
        
        </div>

        <footer class="footer">
            <p>This open source software availabile  on <a href="https://github.com/crossan007/SwitchBot">GitHub</a></p>
        </footer>
 
    </div>
</body>
 
</html>