<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>FCC Systems Controller</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="static/javascript.js"></script>
    <style>
        .btn-primary {
        color: #fff;
        background-color: #FF0000;
        border-color: #2e6da4;
        }
        .btn-primary.active {
            color: #FFF;
            background-color: #00FF00;
            border-color: #204d74;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li class="active" ><a data-toggle="pill" href="#presets">System Presets</a></li>
                    <li ><a data-toggle="pill" href="#components">Component Controls</a></li>
                    <li ><a data-toggle="pill" href="#settings">Settings</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">FCC Systems Controller</h3>
        </div>
 
        <div class="tab-content">
            <div id="presets" class="tab-pane fade in active">
                <h3>System Presets</h3>
                <p class="lead"></p>
                <p><a class="btn btn-lg btn-success" data-toggle="modal" data-target="#confirm-shutdown" role="button">Off</a></p>
                <p><a class="btn btn-lg btn-success presetButton" href="#" id="practice" role="button">Worship Practice / Warm Up</a></p>
                <p><a class="btn btn-lg btn-success presetButton" href="#" id="dvd" role="button">Watch a DVD</a></p>
                <p><a class="btn btn-lg btn-success presetButton" href="#" id="sundayservice" role="button">Sunday Service</a></p>
                <p><a class="btn btn-lg btn-success presetButton" href="#" id="speaker" role="button">Guest Speaker</a></p>
            </div>
            
            <div class="modal modal-transparent fade" id="confirm-shutdown" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirm System Shutdown</h4>
                  </div>
                  <div class="modal-body">
                    <p><a class="btn btn-lg btn-success presetButton" id="off" role="button" data-dismiss="modal">Yes, Shut everything off</a></p>
                <p><a class="btn btn-lg btn-success" data-dismiss="modal">No, Keep on jammin!</a></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            
            
            <div id="components" class="tab-pane fade">
                <h3>Component Controls</h3>
                <h4>Projector Controls</h4>
                <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary active controlButton" id="vga" data-controlGroup="projector">
                        <input type="radio" name="Projector" id="option1" autocomplete="off" checked> VGA
                      </label>
                      <label class="btn btn-primary controlButton" id="DVD" data-controlGroup="projector">
                        <input type="radio" name="Projector" id="option2" autocomplete="off"> DVD
                      </label>
                      <label class="btn btn-primary controlButton" id="Blank" data-controlGroup="projector">
                        <input type="radio" name="Projector" id="option3" autocomplete="off"> Blank
                      </label>
                </div> 
                <div class="btn-group" data-toggle="buttons">     
                      <label class="btn btn-primary">
                        <input type="radio" name="ProjectorFrz" id="option1" autocomplete="off" > Frozen
                      </label>
                      <label class="btn btn-primary active">
                        <input type="radio" name="ProjectorFrz" id="option2" autocomplete="off" checked> UnFrozen
                      </label>
                    
                      
                      
                </div>
                <p>
                
                <div class="btn-group" data-toggle="buttons">
                <h4>Lighting Controls</h4>
                      <label class="btn btn-primary">
                        <input type="checkbox" name="Lighting" autocomplete="off"> Stage Lights
                      </label>
                      <label class="btn btn-primary">
                        <input type="checkbox" name="Lighting" autocomplete="off"> Booth Lights
                      </label>
                      <label class="btn btn-primary">
                        <input type="checkbox" name="Lighting" autocomplete="off"> House Lights
                      </label>
                </div>
                <p>
                <div class="btn-group" data-toggle="buttons">
                <h4>Amplifiers (Audio Zones)</h4>
                      <label class="btn btn-primary">
                        <input type="checkbox" name="Amplifiers" autocomplete="off"> House Speakers
                      </label>
                      <label class="btn btn-primary">
                        <input type="checkbox" name="Amplifiers" autocomplete="off"> Nursery Speaker
                      </label>
                      <label class="btn btn-primary">
                        <input type="checkbox" name="Amplifiers" autocomplete="off"> Stage Monitors
                      </label>
                </div>  
                <p>
                <div class="btn-group" data-toggle="buttons">
                <h4>Climate</h4>
                      <label class="btn btn-primary">
                        <input type="checkbox" name="Climate" autocomplete="off"> Stage Fans
                      </label>
                </div>
             
            </div>
            <div id="settings" class="tab-pane fade">
                <h3>Settings</h3>
             
            </div>
            
        </div>
        
        <hr>
        
        <div>
        <h4>Recording Controls</h4>
                <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary active">
                        <input type="radio" name="Projector" id="option1" autocomplete="off" checked> Recording Stopped
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="Projector" id="option2" autocomplete="off"> Recording Started
                      </label>
                </div> 
        
        </div>

        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>